<div class="row">
    <div class="col-xs-12 col-sm-2 col-md-2 col-lg-2">
        <img src="../../../assets/imagtest.jpg" class="img-fluid" id="fotodeperfil">
    </div>
    <div class="col-xs-12 col-sm-2 col-md-2 col-lg-2">
        <p id="nombre">Agustin Lautaro Maldonado</p>
        <p>Full Stack Deveoloper Jr</p>
    </div>
    <div class="col-xs-12 col-sm-8 col-md-8 col-lg-8">
        <span>
            <h1>Acerca de mi</h1>
            <p>Lorem ipsum dolor, sit amet consectetur
            adipisicing elit. Iste esse quisquam 
            accusantium blanditiis deserunt ratione 
            aut ducimus sint cupiditate aperiam dolorum 
            delectus sed incidunt tempora, mollitia aliquid ad optio quas?
            </p>
        </span>
    </div>
</div>